# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.prod


# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Testing
*.pdf

# Database files
*.db

# Flutter/Dart
client/.metadata
client/.dart_tool/
client/build/
client/ios/Flutter/ephemeral/
client/ios/Flutter/.last_build_id
client/android/local.properties
client/ios/Flutter/Secrets.xcconfig
client/android/gradle/wrapper/gradle-wrapper.jar
client/.flutter-plugins
client/.flutter-plugins-dependencies
*.iml
*.zip

# Shorebird
.salive